body
{
    height: 100vh;
    background: linear-gradient(pink, salmon);
}
.container
{
   width: 600px;
   margin: auto;
   background-color: white;
   padding-top: 15px;
   text-align: center;
   animation-name: slide-down, fade-in;
   animation-timing-function: ease-in-out;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   transition: opasity 2s;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
h2
{
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation-name: fade-in2;
    transition: opasity 2s;
    animation-duration: 2s;
    
}
.resultBox
{
    font-family: arial;
    margin-bottom: 20px;
    animation-name: fade-in2;
    transition: opasity 2s;
    animation-duration: 2200ms;
    font-size: 23px;
}
#task-count
{
    margin-right: 5px;
}
.inputArea
{
    animation-name: fade-in2;
    transition: opasity 2s;
    animation-duration: 2400ms;
}
#input-value
{
    font-size: 30px;
}
#add
{
    font-size: 30px;
}
#blink-animation
{
    margin-top: 5px;
    font-size: 23px;
    font-style: italic;
    color: red;
    animation: blink 1s;
    transition: opasity 1s;
    animation-duration: 400ms;
    animation-iteration-count: 3;
}
ul
{
    margin-top: 10px;
    padding-bottom: 50px;
}
ul li
{
    font-family: arial;
    list-style: none;
    margin-right: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    font-size: 30px;
    animation-name: slide-up;
    animation-duration: 500ms;
    color: black;
    transition: color 2500ms;
    animation-timing-function: ease-in-out;
}
ul li.checked
{
    color: #555;
    text-decoration: line-through;

}
ul li span
{
    font-size: 25px;
    margin-left: 10px;
    background-position: center;
    position: absolute;
    background: #e5e9f1;
    border-radius: 5px;
}
ul li span:hover
{
    background: darkgray;
}

@keyframes slide-down 
{
    0% {
      transform: translateY(-150px);
    }

    50% {
      transform: translateY(85px);
    }

    100% {
      transform: translateY(5px);
    }
}
@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fade-in2
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes slide-up 
{
    0% 
    {
      transform: translateY(35px);
    }
    50% 
    {
      transform: translateY(0px);
    }
}